body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #021526;
}

img {
  user-select: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  z-index: 999;
}

.arena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visual {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.heading {
  font-size: 32px;
  margin-bottom: 25px;
  font-family: "PT Serif", serif;
}

.poster-label {
  max-width: 400px;
  height: 600px;
  width: 100%;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #021526;
  padding: 15px 15px 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: 600;
  font-style: normal;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
}

.selected {
  background-color: #badfdb;
}

.poster-label:hover {
  background-color: rgba(186, 223, 219, 0.5);
  transform: scale(1.5);
}

.poster-label p {
  text-align: center;
}

.text {
  font-size: 24px;
  font-weight: 500;
}

.poster-img {
  width: 100%;
  height: 100%;
  transition: border 0.3s ease;
  margin-bottom: 10px;
}

.podium {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winner-img {
  max-width: 450px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 8px;
}

.winner-name {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
}

.button,
.replay-btn {
  padding: 10px 30px;
  background-color: rgba(186, 223, 219, 0.5);
  border: 2px solid #badfdb;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.05);
}

.replay-btn {
  padding: 10px;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .custom-container {
    padding: 0 15px;
  }

  .visual {
    gap: 10px;
    align-items: stretch;
  }

  .poster-label {
    height: auto;
    padding: 0;
    user-select: none;
    border-radius: 0;
    border-bottom: solid 8px transparent;
    transition: border 0.3s ease;
  }

  .poster-label:hover {
    background-color: #f5f5f5;
  }

  .selected {
    border-bottom: solid 8px #badfdb;
  }

  .text {
    display: none;
  }

  .poster-label p {
    display: none;
  }
}

/* Accessibility: visually hidden but still available to screen readers */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
  border: 0;
  padding: 0;
  margin: -1px;
}
